.baseContainer {
  margin: 50px 50px 50px 50px;
}

.container {
  display: block;
  width: min-content;
  margin: auto;
  /*background-color: coral;*/
}

/* Board styles */
.boardContainer {
  max-height: 1000px;
  height: 65vw;

  max-width: 1000px;
  width: 65vw;
  /*background-color: crimson;*/
  overflow: hidden;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  background-color: rgb(230, 230, 230) !important;

  /*height: 1000px;
  width: 1000px;
  max-height: 65vw;
  max-width: 65vw;*/
  max-height: 1000px;
  max-width: 1000px;
  

  display: block;
  height: max-content;
}

/* Tilemap styles */
.tileMap {
  padding: 10px 10px 10px 10px;
  max-height: 1000px;
  max-width: 1000px;
}

/* Tile styles */
.tile {
  background-color: blueviolet !important;
  aspect-ratio: 1;
  transition: 1s;
}

.tile:hover {
  background-color: rgb(109, 30, 182) !important;
}

.selectedTile {
  background-color: rgb(48, 36, 60) !important;
}

.selectedTile:hover {
  background-color: rgb(33, 25, 41) !important;
}

.pathTile {
  background-color: rgb(19, 123, 83) !important;
}

.pathTile:hover {
  background-color: rgb(13, 87, 59) !important;
}

/* Tilemap settings styles */
.tileMapSettings {
  max-width: 65vw;
  width: 1000px;
  padding: 30px;
}

.tileAmount {
  background-color: none;
}

.tileNr {
  transition: 100ms;
}

.tileNr_0 {
  order: 1;
}
.tileNr_1 {
  order: 2;
}
.tileNr_2 {
  order: 3;
}
.tileNr_3 {
  order: 4;
}
.tileNr_4 {
  order: 5;
}
.tileNr_5 {
  order: 6;
}
.tileNr_6 {
  order: 7;
}
.tileNr_7 {
  order: 8;
}
.tileNr_8 {
  order: 9;
}
.tileNr_9 {
  order: 10;
}
.tileNr_10 {
  order: 11;
}
.tileNr_11 {
  order: 12;
}
.tileNr_12 {
  order: 13;
}
.tileNr_13 {
  order: 14;
}
.tileNr_14 {
  order: 15;
}
.tileNr_15 {
  order: 16;
}
.tileNr_16 {
  order: 17;
}
.tileNr_17 {
  order: 18;
}
.tileNr_18 {
  order: 19;
}
.tileNr_19 {
  order: 20;
}
.tileNr_20 {
  order: 21;
}
.tileNr_21 {
  order: 22;
}