.baseContainer {
  margin: 50px 50px 50px 50px;
}

.container {
  display: block;
  width: min-content;
  margin: auto;
  background-color: coral;
}

/* Board styles */
.boardContainer {
  height: 1000px;
  max-height: 65vw;

  width: 1000px;
  max-width: 65vw;
  background-color: crimson;
  overflow: hidden;
}

.board {
  background-color: rgba(230, 230, 230, 0.716) !important;

  /*height: 1000px;
  width: 1000px;
  max-height: 65vw;
  max-width: 65vw;*/
  max-width: calc(65vw-16px);
  
  border-radius: 100px;
  width: calc(1000px-16px);
}

/* Tilemap styles */
.tileMap {
  padding: 10px 10px 10px 10px;
  transition: 1s;
}

/* Tile styles */
.tile {
  background-color: blueviolet !important;
  aspect-ratio: 1;
  transition: 1s;
}

.tile:hover {
  background-color: rgb(109, 30, 182) !important;
}

.selectedTile {
  background-color: rgb(48, 36, 60) !important;
}

.selectedTile:hover {
  background-color: rgb(33, 25, 41) !important;
}

/* Tilemap settings styles */
.tileMapSettings {
  max-width: 65vw;
  width: 1000px;
}

.tileAmount {
  background-color: none;
}